body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container h2 {
    text-align: center;
}

.container h3 {
    text-align: center;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.container input[type="date"],
.container input[type="ngaysinh"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}


.container input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #555;
}