*{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  box-sizing: border-box;
}

header {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.logo a img {
  width: 260px;
  height: 100px;
  margin: 20px 20px;
  float: left;
}

.menu a {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);

}

.menu ul {
  list-style-type: none;
  overflow: hidden;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 20px 20px;
}

.menu a:hover {
  color: rgb(16, 199, 43);

  border-bottom: 1px solid rgb(57, 236, 116);
}


.about-section{
  background: url(../img/hoa.jpg) no-repeat left;
  background-size: 50%;
  background-color: #2b2424;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 50%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 13px;
  color: #c77c7c;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 30px;
  width: 1000px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  font-size: 13px;
}

footer{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}